{
  "settings": {
    "react": {
      "version":"detect"
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "block-scoped-var": "error",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "consistent-return": "off",
    "curly": ["error", "multi", "consistent"],
    "dot-location": ["error", "property"],
    "dot-notation": ["error"],
    "eqeqeq": "error",
    "func-call-spacing": "error",
    "indent": ["error", 2, {"MemberExpression": 1, "SwitchCase": 1, "VariableDeclarator": { "var": 2, "let": 2, "const": 3 } }],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "no-cond-assign": "error",
    "no-console": "error",
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-empty": "error",
    "no-irregular-whitespace": "error",
    "no-lonely-if": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-param-reassign": ["error", {"props": true}],
    "no-redeclare": "error",
    "no-shadow": "error",
    "no-sparse-arrays": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unused-expressions": ["error", {"allowShortCircuit": true, "allowTernary": true}],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "no-var": "error",
    "object-curly-spacing": ["error", "never"],
    "object-shorthand": ["error", "always"],
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", "never"],
    "padding-line-between-statements": ["error", { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"}, { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-no-bind": ["error", { "ignoreRefs": true }],
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": false }],
    "react/jsx-no-undef": "error",
    "react/jsx-sort-props": ["error", {"ignoreCase": true}],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],
    "react/prefer-stateless-function": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/sort-comp": "error",
    "react/sort-prop-types": "error",
    "semi-spacing": ["error", {"before": false, "after": true}],
    "semi": ["error", "never"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "strict": "off",
    "use-isnan": "error",
    "valid-typeof": "error",
    "vars-on-top": "error",
    "yoda": ["error", "never", {"exceptRange": true}],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "__DEV__": true,
    "__TEST__": true,
    "__PRODUCTION__": true,
    "document": false,
    "window": false,
    "confirm": false,
    "it": false,
    "navigator": false,
    "URL": false,
    "fetch": false
  }
}
